/.classpath
/.project
/classes/
/collector.properties
/data/
/in/
/out/
/log/
/recent/
/stats/
/tarballs/
/generated
cobertura.ser
*~
build.properties
/index/

/.idea/
*.iml
collector.properties
collector-data
